@model KnowledgeAccountingSystem_.Models.TaskEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaskEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxScore)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
